.App {
  display:flex;
  align-items: center;
  flex-direction: column;
}

.friends-list {

}

.friend {
  margin-bottom: 20px;
  padding: 20px;
  background-color: lightgrey;
  border-radius: 10px;
  border: 2px solid black;
}

.new-friend-form {
  display: flex;
  flex-direction: column;
  background-color: grey;
  padding: 0 30px;
  border: 2px solid black;
  border-radius: 10px;

}

.new-friend-form input {
  height: 24px;
  padding-left: 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid black;
}